<div class="page-header">
  <h3>Update your profile</h3>
<div>
<%= html_errors current_user %>
<%= form_for(current_user, :html => {  :class => 'form-horizontal',:method => :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <div class="control-group">
    <%= f.label :email, "Email", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, disabled: true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :first_name, "First Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_name, "Last Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name %>
    </div>
  </div>
  <% unless current_user.id.nil? %>
  <div class="control-group">
    <%= f.label :current_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :current_password %>
      <br>
      <i>(we need your current password to confirm your changes)</i>
    </div>
  </div>
  <% end %>

  <div class="control-group">
    <%= f.label :password, "New password", :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, "Confirm Password ", :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="form-actions"><%= f.submit "Update", :class => 'btn btn-primary' %> <%= link_to 'Cancel', "/" %></div>
<% end %>
