<% unless posts.empty? %>
<table class ="table table-bordered table-striped">
  <tbody>
    <% posts.each do |post| %>
    <tr>
      <td rowspan="2" class="title"><%= post.title %></td>
      <td>Location: <%= post.location %></td>
    </tr>
    <tr>
      <td>
        <%= link_to "View details", post_path(post) %>
        <% if current_user.is_admin || post.user_id == current_user.id %>
        <%= link_to image_tag("deletePost.gif"), post, method: :delete, data: { confirm: 'Are you sure?' }, class: "deletePost pull-right" %>
        <%= link_to "Edit details", edit_post_path(post) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to_next_page posts, 'View more', class: "page", remote: true %>
<%= image_tag "loader-mini.gif", class: "page dn" %>
<% end %>