<%= form_for post do |f|%>
<div class="control-group clearfix">
  <label for="field1">Select Category<span class="mandatory-field">*</span></label>
  <%= f.select(:category_id, categories.collect {|p| [ p.name, p.id ] }, {}, {id: "post_category_id"})%>
</div>

<div class="control-group clearfix disabledSelect">
  <label for="field1">Select Subcategory<span class="mandatory-field">*</span></label>
  <% subcategories.each do |key, sub_categories| %>
  <%= f.select(:sub_category_id, sub_categories.collect {|p| [ p.name, p.id ] }, {}, {id: "catID#{key}", disabled: true} )%>
  <% end %>
</div>
<div class="control-group clearfix">
  <label class="inline">Type<span class="mandatory-field">*</span></label>
  <label class="radio inline">
    <%= f.radio_button(:share, true)%>
    Available
  </label>
  <label class="radio inline">
    <%= f.radio_button(:share, false)%>
    Required
  </label>
</div>
<div class="control-group clearfix">
  <label for="field1">Enter title <span class="mandatory-field">*</span></label>
  <%= f.text_field :title ,:id => "title" %>
</div>
<div class="control-group">
  <label for="field2"></span>Description<span class="mandatory-field">*</span></label>
  <%= f.text_area :description,:id => "description" %>
</div>
<div class="control-group imageFiles">
  <%= f.label "Upload Photo",:class=>"label_logo"  %>
  <div class="controls">
    <%=  f.fields_for :photos do |photo| %>
    <%= photo.file_field :image ,:class=>"label_logo"  %>
    <% end %>
    <a href="javascript:void(0);" class="removeImg">Remove Image</a>
  </div>
</div>
<a href="javascript:void(0);" class="addImage">Add more images</a>

<div class="control-group">
  <label for="field2">Location<span class="mandatory-field">*</span></label>
  <%= f.text_field :location,:id => "location" %>
</div>
<div class="control-group">
  <label for="field3">Price<span class="mandatory-field">*</span></label>
  <%= f.text_field :price ,:id => "price"%>
</div>
<div class="control-group">
  <label for="field3">Name<span class="mandatory-field">*</span></label>
  <%= f.text_field :name ,:id => "name"%>
</div>
<div class="control-group">
  <label for="field3">Contact Number<span class="mandatory-field">*</span></label>
  <%= f.text_field :contact_number ,:id => "contact_number"%>
</div>

<button class="btn btn-primary large" id="post_create" type="submit">Submit</button>
<%= link_to "Cancel",root_path %> </span>
<% end %>
<%= content_for :js do %>
  <script type="text/javascript">
    $('#post_category_id').change(function(){
      showHideCats();
    });
    showHideCats();
    $(".addImage").click(function(){
    var emptyFlag=false, len = $('.imageFiles input[type="file"]').length;
    $('.imageFiles').find("input[type='file']").each(function(){
      if($.trim($(this).val()) == "")
        emptyFlag = true;
    });
    if(emptyFlag)
      alert("Please add images from Existing file selector!");
    else
      $(".imageFiles").append('<div class="controls"><input name="post[photos_attributes]['+ new Date().getTime() +'][image]" type="file"><a href="javascript:void(0);" class="removeImg">Remove Image</a></div>');
    if (len == 4)
      $(".addImage").hide();
    });
    $(document).on("click", ".removeImg", function(){
      var len = $('.imageFiles input[type="file"]').length;
      var result = confirm("Are you sure?");
      if(result)
        $(this).parent().remove();
      if (len < 4)
        $(".addImage").show();
    });
    function showHideCats(){
      var category_id = $("#post_category_id").val();
      $(".disabledSelect select").hide().attr("disabled", true);
      $('#catID' + category_id).show().removeAttr('disabled');
    }
  </script>
<% end %>