<div class="page-header">
  <h1>Detail of Post</h1>
</div>
<div class="clearfix">
    <span class="pull-left"><strong> <%= @post.title %></strong></span>
    <span class="pull-right">
     <strong>Location: <%= @post.location %></strong>
    </span>
</div>

<div class="postDesc">
  <%= @post.description %>
</div>

<div class="clearfix">
  <span class="pull-left"><strong>Name:</strong> <%= @post.name%></span>
  <span class="pull-right"><strong>Contact Number:</strong> <%= @post.contact_number%></span>
</div>
<div>
  <span><strong>Price:</strong> <%= @post.price%></span>
</div>
<div>
  <span>Posted:<%= @post.created_at.strftime("%D %T")%> by <%= @post.user.first_name%> <%= @post.user.last_name%>  </span>
</div>
<div class="clearfix addCommentWrap">
  <div class="favouriteStatus">
    Add to favorite
    <% if current_user.favourite_post_ids.include? @post.id %>
        <%= image_tag "/assets/starOn.png", class: "starImg"  %>
    <% else %>
        <span>Add to Favourite</span>
        <%= link_to image_tag("/assets/starOff.png", class: "starImg"), mark_favourite_post_path(@post.id), class: "markFav", :remote => true %>
    <% end %>
  </div>

<button type="Post" id = "go_for_comment">Add Comment </button>
</div>
<div class = "do_comment" style = "display:none">
<div class="addComment">
     <textarea id="content" rows = "4" cols = "50"> </textarea>
  <button type="Post" id = "comment">Comment </button>
  <%= image_tag "loader-mini.gif", class: "formLoader dn" %>
</div>
</div>
<div id="show_comments" >
  <%= render :partial => "show_comments",:locals=>{:comments => @post.comments.paginate(:page => params[:page], :per_page => 3,:order => 'created_at DESC')} %>
</div>
<%= link_to "<< Back to List View", request.referer %>
<%= content_for :js do  %>
    <%= javascript_include_tag "posts" %>
    <script type="text/javascript">
        $(document).ready(function(){
            $(function(){
                $('#comment').click(function(){
                    var content = $("#content").val();
                    if ($.trim(content) == "")
                        displayFlash("Please add comment content", "alert-error");
                    else{
                        toggleDoms($(".formLoader"), $("#comment"));
                        $.ajax({
                            type: 'POST',
                            url: '/comments',
                            data: {content:content, post_id: '<%=@post.id%>'}
                        });
                    }
                    $('.do_comment').hide();
                });

                $('#go_for_comment').click(function(){
                    $('.do_comment').show();
                });
            })
        });
    </script>
<% end %>
