<div class="page-header">
  <h1>Detail of Post</h1>
</div>
<div class="clearfix">
    <span class="pull-left"><strong> <%= @post.title %></strong></span>
    <span class="pull-right">
     <strong>Location: <%= @post.location %></strong>
    </span>
</div>

<div class="postDesc">
  <%= @post.description %>
</div>

<div class="clearfix">
  <span class="pull-left"><strong>Name:</strong> <%= @post.name%></span>
  <span class="pull-right"><strong>Contact Number:</strong> <%= @post.contact_number%></span>
</div>
<div>
  <span class="pull-left"><strong>Price:</strong> <%= @post.price%></span>
  <span class="pull-right"><strong><a data-toggle="lightbox" href="#ImageLightbox" id="myLightbox" >View Images</a></strong></span>
</div>

<div id="ImageLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
  <div class='lightbox-content'>
    <img src="image.png">
    <!--<div class="lightbox-caption"><p>Your caption here</p></div>-->
  </div>
</div>

<div></br>
  <span><strong>Posted:</strong><%= @post.created_at.strftime("%D %T")%> by <%= @post.user.first_name%> <%= @post.user.last_name%>  </span>
</div>
<div class="clearfix addCommentWrap">
  <div class="favouriteStatus">
    <% if current_user.favourite_post_ids.include? @post.id %>
        <%= image_tag "/assets/starOn.png", class: "starImg"  %>
    <% else %>
        <span>Add to Favourite</span>
        <%= link_to image_tag("/assets/starOff.png", class: "starImg"), mark_favourite_post_path(@post.id), class: "markFav", :remote => true %>
    <% end %>
  </div>

<% unless current_user.is_admin %>
<button type="Post" id = "go_for_comment">Add Comment </button>
<% end %>
</div>
<div class = "do_comment" style = "display:none">
<div class="addComment">
     <textarea id="content" rows = "4" cols = "50"> </textarea>
  <button type="Post" id = "comment">Comment </button>
  <%= image_tag "loader-mini.gif", class: "formLoader dn" %>
</div>
</div>
<div id="show_comments" >
  <%= render :partial => "show_comments",:locals=>{:comments => @post.comments} %>
</div>
<%= link_to "<< Back to List View", request.referer %>

<div id="ImageLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
  <div class='lightbox-content'>
    <img src="image.png">
    <!--<div class="lightbox-caption"><p>Your caption here</p></div>-->
  </div>
</div>
<%= content_for :js do  %>
    <script type="text/javascript">
        $(document).ready(function(){
            $(function(){
                $('#comment').click(function(){
                    var content = $("#content").val();
                    if ($.trim(content) == "")
                        displayFlash("Please add comment content", "alert-error");
                    else{
                        toggleDoms($(".formLoader"), $("#comment"));
                        $.ajax({
                            type: 'POST',
                            url: '/comments',
                            data: {content:content, post_id: '<%=@post.id%>'}
                        });
                    }
                    $('.do_comment').hide();
                });

                $('#go_for_comment').click(function(){
                    $('.do_comment').show();
                });

//                $('.').click(function(){
//                    alert("hiiii");
//                    jQuery.colorbox({html:'<p>Hi There I was instantiated onclick!</p>'});
//                });
//                $('a.open_colorbox').colorbox();
                $('#myLightbox').lightbox(options)

            })
        });
    </script>
<% end %>
